body {
  /* background-image: radial-gradient(circle at center, #17b978,#086972); */
  background-color: #17b978;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  margin-top: 3rem;
  width: 80%;
  /* border: 3px solid rgba(255,255,255,0.7); */
  background: linear-gradient(145deg, #15a76c, #19c680);
box-shadow:  20px 20px 60px #12905e, 
             -20px -20px 60px #1ce292;
  border-radius: 50px;
  padding: 2rem;
}
.title {
  font-family: "Barlow Semi Condensed";
  font-size: 3rem;
  color: #f0f0f0;
}
.scoreCard {
  background: linear-gradient(145deg, #15a76c, #19c680);
  text-align: center;
  font-family: "Barlow Semi Condensed";
  box-shadow:  20px 20px 60px #149d66, 
             -20px -20px 60px #1ad58a;
  border-radius: 10px;
}
.scoreCard :nth-child(1) { 
  margin: 1rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  color: green;
  font-weight: 800;
}
.score {
  font-size: 6rem;
}

.game {
  width: 50%;
  margin: 2rem auto;
  /* background: linear-gradient(145deg, #15a76c, #19c680);
  box-shadow:  20px 20px 60px #12905e, 
             -20px -20px 60px #1ce292;
  border-radius: 50px; */
  padding: 2rem;
}

.bg-triangle {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 37%;
  margin: 0 auto;
}
.option {
  display:block;
  align-items: center;
  justify-content: center;;
  position: absolute;
  z-index: 2;
  left: 0;
  color: #0ba266;
  font-size: 3.25rem;
  transition: all 0.3s ease;
  height: 100px;
  width: 100px;
  line-height: 120px;
  border-radius: 50%;
  background: #17b978;
  box-shadow:  17px 17px 34px #12905e, 
             -17px -17px 34px #1ce292;
}

.option:hover {
  transform: scale(1.5) rotate(45deg);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 90px;
  width: 90px;
}

.rock {
    position: absolute;
    top: 47%;
    left: 33%;
}

.paper {
  position: absolute;
  top: 47%;
  left: 60%;
}

.scissors {
  position: absolute;
  top: 66%;
  left: 47%;
}

@media (min-width: 300px ){

}